@import "./common";

header {
  width: 100%;
  padding-top: 60px;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      color: $primary-one;
      font-weight: 500;
      font-size: 20px;
    }
    a.logo {
      font-weight: 600;
    }
  }
}
