@import "./common";

header {
  width: 100%;
  padding-top: 60px;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      color: $primary-one;
      font-weight: 500;
      font-size: 20px;
    }
    a.logo {
      font-weight: 600;
    }
  }
}

/*mobile view media queries starts*/
@media (max-width: 766px) {
  header {
    padding-top: 45px;
    .container {
      a:nth-child(2) {
        order: 1;
        font-size: 18px;
      }
      a:nth-child(1) {
        order: 2;
        font-size: 14px;
        margin-left: 39px;
      }
      a:nth-child(3) {
        order: 3;
        font-size: 14px;
      }
    }
  }
}

/* mobile iphone se starts */
@media (min-width: 320px) and (max-width: 375px) {
  header{
    .container{
      a{
        font-size: 12px;
      }
      a:nth-child(2) {
        font-size: 15px;
      }
    }
  }
}

/*Tablet View Media Queries starts*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
}

/*Desktop or Larger Pc View Media Queries Starts*/
@media only screen and (min-width: 1600px) {
}
