@import "common";
@import "footer";
@import "header";

//contact-us-sec
.contact-us-sec {
  width: 100%;
  height: auto;
  background-color: #101010;
  color: $primary-one;
  overflow: hidden;
}
//main-contact
.main-contact {
  width: 100%;
  height: auto;
  padding: 65px 0 0px;
  .container {
    width: 85%;
    .flex-wrapper {
      gap: 0px 65px;
      .left {
        width: 50%;
        form {
          padding: 30px 0;
          margin: 30px 0;
          display: flex;
          flex-direction: column;
          gap: 20px;
        }

        h1 {
          color: #474544;
          font-size: 32px;
          font-weight: 700;
          letter-spacing: 7px;
          text-align: center;
          text-transform: uppercase;
        }

        .underline {
          border-bottom: solid 2px #474544;
          margin: -0.512em auto;
          width: 80px;
        }

        .icon_wrapper {
          margin: 50px auto 0;
          width: 100%;
        }

        .icon {
          display: block;
          fill: #474544;
          height: 50px;
          margin: 0 auto;
          width: 50px;
        }

        input[type="text"],
        [type="email"],
        select,
        textarea {
          background: none;
          border: none;
          border-bottom: solid 2px #474544;
          color: #474544;
          font-size: 1em;
          font-weight: 400;
          letter-spacing: 1px;
          margin: 0em 0 1.875em 0;
          padding: 0 0 0.875em 0;
          text-transform: uppercase;
          width: 100%;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          -ms-box-sizing: border-box;
          -o-box-sizing: border-box;
          box-sizing: border-box;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -ms-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s;
        }

        input[type="text"]:focus,
        [type="email"]:focus,
        textarea:focus {
          outline: none;
          padding: 0 0 0.875em 0;
        }

        .message {
          float: none;
        }

        .name {
          float: left;
          width: 100%;
        }

        select {
          background: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png")
            no-repeat right;
          outline: none;
          -moz-appearance: none;
          -webkit-appearance: none;
        }

        select::-ms-expand {
          display: none;
        }

        .subject {
          width: 100%;
        }

        .telephone {
          width: 100%;
        }

        textarea {
          line-height: 100%;
          height: 100px;
          resize: none;
          width: 100%;
        }

        ::-webkit-input-placeholder {
          color: #474544;
        }

        :-moz-placeholder {
          color: #474544;
          opacity: 1;
        }

        ::-moz-placeholder {
          color: #474544;
          opacity: 1;
        }

        :-ms-input-placeholder {
          color: #474544;
        }

        #form_button {
          background: none;
          border: solid 2px #474544;
          color: #474544;
          cursor: pointer;
          display: inline-block;
          font-family: "Helvetica", Arial, sans-serif;
          font-size: 0.875em;
          font-weight: bold;
          outline: none;
          padding: 20px 35px;
          text-transform: uppercase;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -ms-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s;
        }

        #form_button:hover {
          background: #474544;
          color: #f2f3eb;
        }
      }
      .right {
        width: 50%;
        margin-top: 50px;
        position: relative;
        h1 {
          font-size: 100px;
          text-align: right;
          max-width: 500px;
          opacity: 0.7;
          position: relative;
          z-index: 2;
        }
        h1::before {
          content: "";
          background: $primary-one;
          width: 40%;
          height: 3px;
          display: block;
          border-radius: 5px;
          margin: 25px 0;
          position: absolute;
          top: 65%;
          right: 36%;
        }
        img {
          position: absolute;
          top: -19%;
          right: -10%;
          width: auto;
          height: 100%;
          z-index: 1;
          opacity: 0.1;
        }
      }
    }
  }
}

/*mobile view media queries starts*/
@media (max-width: 766px) {

}

/* mobile iphone se starts */
@media (min-width: 320px) and (max-width: 375px) {

}

/*Tablet View Media Queries starts*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {

}

/*Desktop or Larger Pc View Media Queries Starts*/
@media only screen and (min-width: 1600px) {

}