@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

body,
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

section {
  width: 100%;
  overflow-x: hidden;
}

.container {
  overflow-x: hidden;
  width: 90%;
  margin: 0% auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  height: auto;
  width: 100%;
}

.flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.left, .right {
  width: 50%;
}

/*mobile view media queries starts*/
@media (max-width: 766px) {
  .container {
    width: 95%;
  }
  .flex-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
  }
}

/* mobile iphone se starts */
/*Tablet View Media Queries starts*/
/*Desktop or Larger Pc View Media Queries Starts*/
footer {
  width: 100%;
  height: 350px;
  background-image: url(/Resources/bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

footer .container {
  width: 90%;
  height: inherit;
  padding: 50px 0;
  margin: 0% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

footer .container .top a {
  color: #fff;
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 2%;
}

footer .container .mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 250px;
}

footer .container .mid a {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
}

footer .container .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 110px;
}

footer .container .bottom a img {
  width: 45px;
  height: 45px;
  cursor: pointer;
}

/*mobile view media queries starts*/
/* mobile iphone se starts */
/*Tablet View Media Queries starts*/
/*Desktop or Larger Pc View Media Queries Starts*/
* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

body,
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

section {
  width: 100%;
  overflow-x: hidden;
}

.container {
  overflow-x: hidden;
  width: 90%;
  margin: 0% auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  height: auto;
  width: 100%;
}

.flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.left, .right {
  width: 50%;
}

/*mobile view media queries starts*/
@media (max-width: 766px) {
  .container {
    width: 95%;
  }
  .flex-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
  }
}

/* mobile iphone se starts */
/*Tablet View Media Queries starts*/
/*Desktop or Larger Pc View Media Queries Starts*/
header {
  width: 100%;
  padding-top: 60px;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container a {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
}

header .container a.logo {
  font-weight: 600;
}

/*mobile view media queries starts*/
@media (max-width: 766px) {
  header .container a:nth-child(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    font-size: 20px;
  }
  header .container a:nth-child(1) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    font-size: 16px;
  }
  header .container a:nth-child(3) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    font-size: 16px;
  }
}

/* mobile iphone se starts */
/*Tablet View Media Queries starts*/
/*Desktop or Larger Pc View Media Queries Starts*/
.bg-section {
  width: 100%;
  height: auto;
  background-color: #101010;
  color: #fff;
  overflow: hidden;
}

.gallery-sec {
  width: 100%;
  height: auto;
  padding: 65px 0px 30px;
}

.gallery-sec .container .flex-wrapper img {
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery-sec .container .flex-wrapper .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px 0;
}

.gallery-sec .container .flex-wrapper .left .left-card .card {
  width: 100%;
  height: 70vh;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.gallery-sec .container .flex-wrapper .left .left-card .card img {
  width: 250px;
  height: auto;
}

.gallery-sec .container .flex-wrapper .left .left-card .card h6 {
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  position: absolute;
  left: 40px;
  bottom: 40px;
}

.gallery-sec .container .flex-wrapper .left .left-card .card h6::after {
  content: "";
  background: #3d72a4;
  width: 60%;
  height: 3px;
  display: block;
  border-radius: 5px;
  margin: 15px 0;
}

.gallery-sec .container .flex-wrapper .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px 0;
}

/*mobile view media queries starts*/
/* mobile iphone se starts */
/*Tablet View Media Queries starts*/
/*Desktop or Larger Pc View Media Queries Starts*/
/*# sourceMappingURL=galler.css.map */