@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body,
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

section {
  width: 100%;
  overflow-x: hidden;
}

.container {
  overflow-x: hidden;
  width: 90%;
  margin: 0% auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  height: auto;
  width: 100%;
}

.flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.right, .left {
  width: 50%;
}

* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body,
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

section {
  width: 100%;
  overflow-x: hidden;
}

.container {
  overflow-x: hidden;
  width: 90%;
  margin: 0% auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  height: auto;
  width: 100%;
}

.flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.right, .left {
  width: 50%;
}

header {
  width: 100%;
  padding-top: 60px;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container a {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
}

header .container a.logo {
  font-weight: 600;
}

.hero-section {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-image: url(/Resources/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-hero {
  width: 100%;
  margin-top: 90px;
}

.main-hero .flex-wrapper {
  width: 90%;
  margin: 0% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.main-hero .flex-wrapper .left {
  width: 60%;
}

.main-hero .flex-wrapper .left h1 {
  font-size: 37px;
  font-weight: 600;
  line-height: 65px;
  letter-spacing: 3%;
  max-width: 968px;
  margin-bottom: 35px;
}

.main-hero .flex-wrapper .left .btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
}

.main-hero .flex-wrapper .left .btn-group a {
  border: 2px solid #fff;
  color: #fff;
  padding: 20px 40px;
  font-weight: 700;
  font-size: 15px;
}

.main-hero .flex-wrapper .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 40%;
}

.main-hero .flex-wrapper .right img {
  width: auto;
  height: 100%;
}

.top-event-section {
  height: auto;
  width: 100%;
  padding-bottom: 65px;
}

.top-event-section .container .flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-event-section .container .flex-wrapper .left {
  width: 50%;
  padding-top: 40px;
  max-width: 700px;
}

.top-event-section .container .flex-wrapper .left h2 {
  font-size: 34px;
  line-height: 45px;
  font-weight: 600;
  max-width: 550px;
}

.top-event-section .container .flex-wrapper .left h2::after {
  content: "";
  background: #3d72a4;
  width: 40%;
  height: 3px;
  display: block;
  border-radius: 5px;
  margin: 25px 0;
}

.top-event-section .container .flex-wrapper .left p {
  font-size: 15px;
  line-height: 29px;
  letter-spacing: 3%;
  font-weight: 500;
  padding: 6px 0;
  max-width: 550px;
}

.top-event-section .container .flex-wrapper .left .btn-group {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
}

.top-event-section .container .flex-wrapper .left .btn-group a {
  border: 2px solid #000;
  color: #000;
  padding: 20px 40px;
  font-weight: 700;
  font-size: 15px;
}

.top-event-section .container .flex-wrapper .right {
  width: 50%;
  height: inherit;
}

.top-event-section .container .flex-wrapper .right img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.our-service-sec {
  width: 100%;
  height: auto;
  background-color: #eaeaea;
  padding: 30px 0 65px;
  overflow: hidden;
}

.our-service-sec .container img {
  -o-object-fit: cover;
     object-fit: cover;
}

.our-service-sec .container .flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0;
}

.our-service-sec .container .flex-wrapper .left {
  width: 50%;
}

.our-service-sec .container .flex-wrapper .left .card {
  width: 100%;
  height: 100vh;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.our-service-sec .container .flex-wrapper .left .card img {
  width: 320px;
  height: auto;
}

.our-service-sec .container .flex-wrapper .left .card h6 {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  position: absolute;
  left: 40px;
  bottom: 40px;
}

.our-service-sec .container .flex-wrapper .left .card h6::after {
  content: "";
  background: #3d72a4;
  width: 60%;
  height: 3px;
  display: block;
  border-radius: 5px;
  margin: 15px 0;
}

.our-service-sec .container .flex-wrapper .right {
  width: 50%;
}

.our-service-sec .container .flex-wrapper .right .card-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.our-service-sec .container .flex-wrapper .right .card-wrapper .card {
  background-color: #fff;
  width: 100%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.our-service-sec .container .flex-wrapper .right .card-wrapper .card img {
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}

.our-service-sec .container .flex-wrapper .right .card-wrapper .card h6 {
  font-size: 12px;
  font-weight: 600;
  color: #000;
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.our-service-sec .container .flex-wrapper .right .card-wrapper .card h6::after {
  content: "";
  background: #3d72a4;
  width: 60%;
  height: 3px;
  display: block;
  border-radius: 5px;
  margin: 15px 0;
}

.our-service-sec .container .flex-wrapper .right .card-wrapper .card.black {
  background-color: #000;
}

.our-service-sec .container .flex-wrapper .right .card-wrapper .card.black h6 {
  color: #fff;
}

.latest-work-section {
  width: 100%;
  height: auto;
  padding: 65px 0;
}

.latest-work-section .container {
  width: 95%;
  margin: 0% 0% 0% auto;
}

.latest-work-section .container .flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.latest-work-section .container .flex-wrapper .left {
  width: 40%;
}

.latest-work-section .container .flex-wrapper .left h2 {
  font-size: 34px;
  line-height: 45px;
  font-weight: 600;
  max-width: 550px;
}

.latest-work-section .container .flex-wrapper .left h2::after {
  content: "";
  background: #3d72a4;
  width: 40%;
  height: 3px;
  display: block;
  border-radius: 5px;
  margin: 25px 0;
}

.latest-work-section .container .flex-wrapper .left p {
  font-size: 15px;
  line-height: 29px;
  letter-spacing: 3%;
  font-weight: 500;
  padding: 6px 0;
  max-width: 550px;
}

.latest-work-section .container .flex-wrapper .left .btn-group {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
}

.latest-work-section .container .flex-wrapper .left .btn-group a {
  border: 2px solid #000;
  color: #000;
  padding: 20px 40px;
  font-weight: 700;
  font-size: 15px;
}

.latest-work-section .container .flex-wrapper .right {
  width: 60%;
}

.latest-work-section .container .flex-wrapper .right .img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.latest-work-section .container .flex-wrapper .right .img-wrapper img {
  width: 180px;
  height: 464px;
  -o-object-fit: cover;
     object-fit: cover;
}

.why-choose-us {
  width: 100%;
  height: auto;
  padding: 65px 0;
  background-color: #eaeaea;
}

.why-choose-us .container .flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.why-choose-us .container .flex-wrapper .left {
  width: 40%;
}

.why-choose-us .container .flex-wrapper .left h2 {
  font-size: 38px;
  line-height: 45px;
  font-weight: 600;
  max-width: 550px;
}

.why-choose-us .container .flex-wrapper .left h2::after {
  content: "";
  background: #3d72a4;
  width: 40%;
  height: 3px;
  display: block;
  border-radius: 5px;
  margin: 25px 0;
}

.why-choose-us .container .flex-wrapper .left p {
  font-size: 17px;
  line-height: 35px;
  letter-spacing: 3%;
  font-weight: 500;
  padding: 6px 0;
  max-width: 550px;
}

.why-choose-us .container .flex-wrapper .left .btn-group {
  padding-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
}

.why-choose-us .container .flex-wrapper .left .btn-group a {
  border: 2px solid #000;
  color: #000;
  padding: 20px 40px;
  font-weight: 700;
  font-size: 15px;
}

.why-choose-us .container .flex-wrapper .right {
  width: 60%;
}

.why-choose-us .container .flex-wrapper .right .card-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-gap: 10px 15px;
}

.why-choose-us .container .flex-wrapper .right .card-wrapper .card {
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 30px 25px;
  position: relative;
}

.why-choose-us .container .flex-wrapper .right .card-wrapper .card h1 {
  font-size: 25px;
  padding-bottom: 18px;
}

.why-choose-us .container .flex-wrapper .right .card-wrapper .card p {
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 2%;
  padding-bottom: 20px;
}

.why-choose-us .container .flex-wrapper .right .card-wrapper .card a.btn {
  border: 2px solid #000;
  color: #000;
  padding: 8px 10px;
  font-weight: 700;
  font-size: 10px;
}

.why-choose-us .container .flex-wrapper .right .card-wrapper .card span {
  display: inline-block;
  text-align: center;
  color: #fff;
  background-color: #3d72a4;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 8px;
  font-size: 15px;
  position: absolute;
  right: 20px;
  font-weight: 700;
}

.testimonial-sec {
  width: 100%;
  height: auto;
  padding: 50px 0;
}

.testimonial-sec .container {
  margin: 0% auto auto 2%;
}

.testimonial-sec .container .flex-wrapper .left {
  width: 40%;
}

.testimonial-sec .container .flex-wrapper .left img {
  width: 300px;
  height: 300px;
  opacity: 0.1;
  -webkit-transform: translateX(-70px);
          transform: translateX(-70px);
}

.testimonial-sec .container .flex-wrapper .left h1 {
  font-size: 80px;
  line-height: 110px;
  letter-spacing: 3%;
  max-width: 600px;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.testimonial-sec .container .flex-wrapper .left h1 span {
  opacity: 0.5;
}

.testimonial-sec .container .flex-wrapper .right {
  width: 60%;
  padding-left: 30px;
}

.testimonial-sec .container .flex-wrapper .right img {
  width: 60px;
  height: 60px;
}

.testimonial-sec .container .flex-wrapper .right .swiper {
  background-color: #3d72a4;
  height: auto;
  padding: 100px 0px 85px 10px;
}

.testimonial-sec .container .flex-wrapper .right .swiper .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.testimonial-sec .container .flex-wrapper .right .swiper .swiper-wrapper .swiper-slide {
  background-color: #fff;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  padding: 40px;
  border-radius: 20px;
}

.testimonial-sec .container .flex-wrapper .right .swiper .swiper-wrapper .swiper-slide .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 35px;
}

.testimonial-sec .container .flex-wrapper .right .swiper .swiper-wrapper .swiper-slide .top .text-wrapper {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.testimonial-sec .container .flex-wrapper .right .swiper .swiper-wrapper .swiper-slide .top .text-wrapper h6 {
  font-size: 15px;
  letter-spacing: 2%;
}

.testimonial-sec .container .flex-wrapper .right .swiper .swiper-wrapper .swiper-slide .top .text-wrapper span {
  opacity: 0.5;
  font-size: 12px;
}

.testimonial-sec .container .flex-wrapper .right .swiper .swiper-wrapper .swiper-slide .bottom p {
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 3%;
  font-weight: 500;
}
/*# sourceMappingURL=index.css.map */